{erl_opts, [
            debug_info,
            inline_list_funcs,
            warn_untyped_record,
            warn_obsolete_guard,
            warn_unused_import,
            warn_shadow_vars,
            warn_export_vars,
            warn_unused_function,
            warn_deprecated_function,
            warn_obsolete_guard,
            warn_unused_import,
            warn_export_all,
            warnings_as_errors
           ]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
