{erl_opts, [
            debug_info
            , compressed
            , report
            , warn_export_vars, warn_shadow_vars
            , warn_unused_function, warn_deprecated_function
            , warn_obsolete_guard, warn_unused_import
            , warnings_as_errors
           ]}.

%% {cover_enabled, true}.

{deps, [
        {proper, "1.0.*", {git, "git://github.com/manopapad/proper.git", "ca96110cb0bbbf31fbc7563e0424b2f2daafd156"}}
]}.
